<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=AMIT-DEV8\SQLEXPRESS;Initial Catalog=TPM_SONA;User ID=sa;Password=pctadmin$123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Change to "false" if you want to Disable logging for the application. -->
    <add key="EnableLogs" value="true"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>